<div class="container">
  <br>
  <a routerLink="/admin/create" class="btn-small waves-effect waves-light deep-purple lighten-3 z-depth-3"><i class="material-icons right">add_circle_outline</i><FONT SIZE="1">Registrar</FONT></a>
 
  <table class="table responsive">
    <thead>
      <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th class="center">Acciones</th>
      </tr>
    </thead>
 
    <tbody>
      <tr *ngFor="let p of listado">
        <td>{{p.Nombre}}</td>
        <td>{{p.Apellido}}</td>
        <td>{{p.Correo}}</td>
        <td>{{p.Numero}}</td>
        <td>
          <div class="center">
            <a routerLink="/admin/edit/{{p.id}}" class="btn-small green lighten-3"><i class="material-icons">edit</i></a>
            <button class="btn-small red lighten-2" (click)="delete(p.id)"><i class="material-icons">delete</i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
