<footer class="page-footer deep-purple accent-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <B><h4 class="white-text">Vuela con nosotros a donde quieras</h4></B>
          <p class="white-text text-lighten-2"><b><i><small>"AIR - Mintic" Tu aerolínea de confianza</small></i></b></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">Miembros</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Fulanito de tal</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Tino Asprilla</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Pibe Valderrama</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2022 Copyright Air - MinTIC
      <a class="grey-text text-lighten-4 right" href="#!">Atendiendo tus vuelos</a>
      </div>
    </div>
  </footer>
